*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display:flex;
    align-self: center;
    
}
li{
    color: rgb(133, 16, 16);
    list-style: none;
    padding-right: 10px;
}
p{
    color: black;
}
.primo-div{
    width: 1920px;
    display: flex;
    background-color: #3d7e00;
    margin: 0 auto;
    padding: 10px 260px;
}

.immagine{
    width: 84%;
    display: flex;
    /* flex-grow: 2; */
    justify-content: center;
}
.logo{
    height: 35px;
}

.icone{
    align-self: center;
}


/* main */

.corpo-principale{
    width: 1444px;
    margin: 0 auto;
    margin-top: 3%;
}
.prima-row{
    display: flex;
    justify-content: space-between;
}
.seconda-row{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.sconto{
    background-color: rgb(226, 13, 13);
    position: absolute;
    bottom: 70px;
    padding: 5px 11px;
    color: #fff;
}
.sos{
    background-color: green;
    position: absolute;
    padding: 5px 11px;
    bottom: 70px;
    left: 60px;
    color: #fff;
}
.sos1{
    background-color: green;
    position: absolute;
    padding: 5px 11px;
    bottom: 70px;
    
    color: #fff;
}
.foto{
    width: 466px;
}
.relative{
position: relative;
}
.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}


/* footer */
.finale{
    width: 1920px;
    margin: 0 auto;
    background-color: #242424;
    height: 150px;
    margin-top: 100px;
}
.finale2{
    width: 1444px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}
.finale3{
    width: 1444px;
    display: flex;
    color: #fff;
    margin: 0 auto;
    padding-top: 10px;
}
.fin{
    display: flex;
    justify-content: space-around;

}
h4{
    padding-right: 9px;
}

